@font-face {
  font-family: Outfit;
  src: url(./OutfitRegular.ttf);
}
:root {
  --dark-color: #091721;
  --main-color: #00bfff;
}
body::-webkit-scrollbar {
  width: 10px; 
}

body::-webkit-scrollbar-track {
  background: #fff; 
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);  
  border-radius: 20px;  
  border: 1px solid #ddd; 
}
body {
margin: 0;
font-family: "Outfit", sans-serif !important;
position: relative;
overflow-x: hidden;
background-color: var(--dark-color) !important;
}